body {
        background-color: black;
    }
/* Styling for the home container */

  
  /* Styling for the heading */
  .heading {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1rem;
  }
  .popular-pdfs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
    padding: 0;
    list-style-type: none;
    li{
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: rgb(111, 123, 126);
    }
    img{
      width: 200px;
      height: 200px;
      object-fit: cover;
      border-radius: 10px;
      margin-bottom: 0.5rem;
    }
    

  }